.my-bg {
    background-color:  rgb(220, 203, 46);
}

.my-bg-dark {
    background-color: black;
}

.my-color {
    color: rgb(220, 203, 46);
}

.list-style {
    list-style: none;
    font-weight: bolder;
}

.ul-style {
    padding-left: 0px;
}

.red {
    background-color: red;
}